.side-div{  
    width: 5.4vw;
    height: 100vh;
    background-color: #8828c9d2;
    margin-right: 0;
    margin: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-div a{
    margin-bottom: 12px;
}

.side-div a:hover{
    background-color: aqua;
}
