.main-div{
    width: 6.2rem;
    height: 100vh;
    background-color: gray;
    margin: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-div a{
    margin: 8px auto;
}

.main-div a:hover{
    background-color: aqua;
}
