.projects-main{
    width: 95%;
    height: 85vh;
}

.projects-container{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    justify-items: center;
}

.project{
    background-color: #13505B;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr;
    box-shadow: 10px 10px #edf6f7, 50%;
    margin: 12px;
}

.description {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 90%;
}