.contact-button-group{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#contact-main-container{
    height: 50vh;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
